@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  header {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .about-me-title {
    font-size: 40px;
    text-shadow: 3px 3px 4px gray;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav a {
    display: block;
    color: rgb(54, 54, 54);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
  }

  .edu-button {
    margin-right: 35px;
    margin-left: 35px;
  }

  .exp-button {
    margin: 35px 35px;
  }

  button {
    transition: all 0.5s ease;
    border-radius: 5px;
    background-color: rgb(212, 210, 210);
  }
  
  button:hover {
    transform: scale(1.08);
    background-color: rgb(255, 255, 255);
  }
  

  section {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
  }
  
  .subtitles {
    font-size: 23px;
  }

  p {
    font-size: 18px;
  }
  
  #about, #experience, #hobbies, #contact {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .footer {
    background: #C9CCD3;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 25px;
    bottom: 0;
    width: 100%;
    text-shadow: 3px 3px 4px gray;
  }
  
  .year {
    font-size: 13px;
  }

  .copyright {
    color: rgb(255, 255, 255);
  }

  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-media a {
    font-size: 35px;
    margin: 0 15px;
    color: rgb(185, 185, 185);
    text-decoration: none;
    transition: all 0.3s;
    animation: rotation 2s;
  }

  
  .social-media a:hover {
    color: rgb(255, 255, 255);
    transform: translateY(-5px);
  }