@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  header {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .about-me-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px 4px gray;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav a {
    display: block;
    color: rgb(54, 54, 54);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
  }

  .edu-button {
    margin-right: 35px;
    margin-left: 35px;
  }

  .exp-button {
    margin: 35px 35px;
  }

  button {
    transition: all 0.5s ease;
    border-radius: 5px;
    background-color: rgb(212, 210, 210);
  }
  
  button:hover {
    transform: scale(1.08);
    background-color: rgb(255, 255, 255);
  }